/build
*~
/lean_packages/*
!/lean_packages/manifest.json
/lake-packages
/SciLean/Doodle/
*.lean#
*.idx3-ubyte
*.idx1-ubyte
*.olean
/.lake/
SciLean/Doodle*
SciLean/Core_old/
SciLean/Mathlib_old/
Doodle*
*_old*
perf.data
/docbuild/

# Python
uv.lock
__pycache__/

# Test data
data/npy_test/
data/mnist_weights/
data/MNIST/
